button {
  padding: 10px;
  margin: 10px;

  box-shadow: 1px 1px 3px;
}

.result {
  background-color: yellow;
  padding: 8px;
  width: 40%;
  margin: auto;
  color: black;
  box-shadow: 2px 2px 3px;
  margin-bottom: 16px;
}
